<configuration>

<!--  Log the redact requests specifically to their own log file  -->
    <appender name="REDACT_REQUESTS" class="ch.qos.logback.core.FileAppender">
        <file>RedactRequests.log</file>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="REDACT_REQUEST_LOGGER" level="TRACE">
        <appender-ref ref="REDACT_REQUESTS"/>
    </logger>

<!--  General logging  -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>